<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/views/style.css" rel="stylesheet">
  <title>Gmorning you lazy bastard</title>
</head>
<body>
  <img id="cah" alt="Cyanide and Happiness" src="/views/spinner.gif"/>
  <img id="xkcd" alt="XKCD" src="/views/spinner.gif"/>
  <img id="goose" alt="Abstruse Goose" src="/views/spinner.gif"/>
  <img id="spikedmath" alt="Spiked Math" src="/views/spinner.gif"/>
  <img id="pbf" alt="pbf" src="/views/spinner.gif"/>
  <img id="smbc" alt="SMBC" src="/views/spinner.gif"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="./views/loadcomics.js"></script>
</body>
</html>
