body{
  background-color: #2c2c31;
}

img{
  width: 75px;
  height: 75px;
  display: block;
  margin: auto;
  border: 5px solid #333329;
  padding: 2px;
  background-color: white;
}

.img-loaded{
  width: initial;
  height: initial;
}
